

body{
    overflow-x: hidden;

}
.navigation-link{
    border: 2px solid transparent;
}
.navigation-link:hover{
    border-bottom:  2px solid #f5ba09;
    text-decoration: none;
    transition: 0.5s ease;
}
.ana
{
    background-image: url(./img/s1.jpg);
    background-size: cover;
    background-position: center;
   
}








